@import "../scss/bootstrap4-card-tables.scss";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Playfair+Display:400,700");
body {
    line-height: 1.5;
    font-family: "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 15px;
    color: #585757;
}

p, .paragraph {
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #000000;
    font-family: "hanskendrick";
    font-weight: 600;
    line-height: 1.2;
}

h1, .h1 {
    font-size: 80px;
}

@media (max-width: 767px) {
    h1, .h1 {
        font-size: 55px;
    }
}

h2, .h2 {
    font-size: 50px;
}

@media (max-width: 767px) {
    h2, .h2 {
        font-size: 45px;
    }
}

h3, .h3 {
    font-size: 40px;
}

h4, .h4 {
    font-size: 30px;
}

h5, .h5 {
    font-size: 20px;
}

h6, .h6 {
    font-size: 16px;
}

.card>.table {
    border-right: 0;
    border-left: 0;
    margin-bottom: 0;
}

.card>.table:last-child {
    border-bottom: 0;
}

.card>.table:not(.table-sm) th, .card>.table:not(.table-sm) td {
    padding: 0.75rem 1.25rem;
}

.card>.table td:first-child, .card>.table th:first-child {
    border-left: 0;
}

.card>.table td:last-child, .card>.table th:last-child {
    border-right: 0;
}

.card>.table tr:first-child td, .card>.table tr:first-child th {
    border-top: 0;
}

.card>.table tr:last-child td {
    border-bottom: 0;
}

.card .card-header+.table {
    border-top: 0;
    font-size: 7px;
}
