{% extends "layout.html" %}
{% block content %}
<div class="container">
    <h2>บันทึกข้อมูล</h2>
    <form action="{{ url_for('insert_ingedients')}}" method="POST">
        <div class="form-group">
            <label for="ingedients_name">ชื่อสารอาหาร</label>
            <input type="text" class="form-control" name="ingedients_name">
        </div>
        <div class="form-group">
            <label for="nutrients_group">หมู่</label>
            <select class="form-control" name="nutrients_group">
                <option value="P">โปรตีน</option>
                <option value="C">คาร์โบไฮเดรต</option>
                <option value="F">ไขมัน</option>
            </select>
        </div>
        <div class="form-group">
            <label for="p">โปรตีน</label>
            <input type="text" class="form-control" name="p">
        </div>
        <div class="form-group">
            <label for="c">คาร์โบไฮเดรต</label>
            <input type="text" class="form-control" name="c">
        </div>
        <div class="form-group">
            <label for="f">ไขมัน</label>
            <input type="text" class="form-control" name="f">
        </div>
        <a class="btn btn-success" href="/showingedients">กลับ</a>
        <button type="submit" class="pull-right btn btn-primary">บันทึก</button>
    </form>
</div>
{% endblock content %}