{% extends "layout.html" %}
{% block head %}
<style>
    .slidecontainer {
        width: 100%;
    }

    .slider {
        -webkit-appearance: none;
        width: 50%;
        height: 25px;
        background: #d3d3d3;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
    }

    .slider:hover {
        opacity: 1;
    }

    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        height: 25px;
        background: #4CAF50;
        cursor: pointer;
    }

    .slider::-moz-range-thumb {
        width: 25px;
        height: 25px;
        background: #4CAF50;
        cursor: pointer;
    }
</style>
{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <blockquote>
                    <form action="{{ url_for('process') }}" method="POST">
                        <h6>อาหาร
                            <select name="foodname">
                                {% for row in food %}
                                <option value="{{row.0}}">{{row.1}}</option>
                                {% endfor %}
                            </select>
                        </h6><br>
                        <p>โปรตีน : <select name="P">
                                {% for row in p %}
                                <option value="{{row.0}}">{{row.1}}</option>
                                {% endfor %}
                            </select></p>
                        <div class="slidecontainer">
                            <input type="range" min="1" max="2000" value="0" class="slider" name="volumep" id="volumep">
                            <p>Value: <span id="p1"></span></p>
                        </div><br>

                        <p>คาร์โบไฮเดรต : <select name="C">
                                {% for row in c %}
                                <option value="{{row.0}}">{{row.1}}</option>
                                {% endfor %}
                            </select></p>
                        <div class="slidecontainer">
                            <input type="range" min="1" max="2000" value="0" class="slider" name="volumec" id="volumec">
                            <p>Value: <span id="c1"></span></p>
                        </div><br>

                        <p>ไขมัน : <select name="F" ">
                                {% for row in f %}
                                <option value=" {{row.0}}">{{row.1}}</option>
                                {% endfor %}
                            </select></p>
                        <div class="slidecontainer">
                            <input type="range" min="1" max="2000" value="0" class="slider" name="volumef" id="volumef">
                            <p>Value: <span id="f1"></span></p>
                        </div><br>

                        <input type="submit" value="Calculate">
                    </form>
                </blockquote>
            </div>
        </div>
    </div>
</section>

{% block script %}
<script>
    var slider1 = document.getElementById("volumep");
    var slider2 = document.getElementById("volumec");
    var slider3 = document.getElementById("volumef");
    var output1 = document.getElementById("p1");
    var output2 = document.getElementById("c1");
    var output3 = document.getElementById("f1");
    output1.innerHTML = slider1.value;
    output2.innerHTML = slider2.value;
    output3.innerHTML = slider3.value;

    slider1.oninput = function () {
        output1.innerHTML = this.value;
    }
    slider2.oninput = function () {
        output2.innerHTML = this.value;
    }
    slider3.oninput = function () {
        output3.innerHTML = this.value;
    }
</script>
{% endblock %}


{% endblock %}