<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>NCE</title>
    <meta name="description" content="A simple range plugin written in pure JavaScript" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="{{ url_for('static',filename='css/st.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>

<body>
    <form method="POST" role="form">
        <div class="container">
            <div class="card border-0 shadow my-5">
                <div class="card-body p-7">
                    <h3 class="card-title text-center">เลือกเมนู
                        <select class="text-white-1" name="foodname" id="foodname">
                            {% for row in food %}
                            <option value="{{ row.id_food }}">{{ row.name_food }}</option>
                            {% endfor %}
                        </select>
                    </h3>
                    <section class="pricing py-5">
                        <div class="container">
                            <div class="row">
                                <!-- Plus Tier -->
                                <div class="col-lg-6">
                                    <div class="card mb-5 mb-lg-0">
                                        <div class="card-body">
                                            <h5 class="card-title text-center">พลังงานที่ได้รับ</h5>
                                            <div class="chart-wrapper">
                                                <canvas id="myChart" width="250" height="230"></canvas>
                                            </div>
                                            <hr>
                                            <div class="btn-toolbar  justify-content-between" role="toolbar"
                                                aria-label="Toolbar with button groups">

                                                <button type="button" class="btn-1" id="addfood"><img
                                                        src="https://img.icons8.com/color/48/000000/real-food-for-meals.png">เพิ่มเมนูโปรด</button>
                                                <div id="en" class="alert alert-info" role="alert"></div>
                                                <button type="button" class="btn-2" id="foodtable"><img
                                                        src="https://img.icons8.com/color/48/000000/food.png">จัดมื้ออาหาร</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Pro Tier -->
                                <!-- Free Tier -->
                                <div class="col-lg-6">
                                    <div class="card mb-5 mb-lg-0">
                                        <div class="card-body">

                                            <main class="main boxed">
                                                <div class="flex">
                                                    <h4 class="great">
                                                        โปรตีน
                                                    </h4>
                                                    <select class="text-white" name="p" id="P">
                                                        {% for row in p %}
                                                        <option value="{{ row.id_nutrients }}">{{ row.name_nutrients }}
                                                        </option>
                                                        {% endfor %}
                                                    </select>
                                                    <select class="text-white-2 ">
                                                        <option>กรัม
                                                        </option>
                                                        <option>กิโลกรัม
                                                        </option>
                                                        <option>ขีด
                                                        </option>
                                                        <option>ถ้วยตวง
                                                        </option>
                                                        <option>ช้อนโต๊ะ
                                                        </option>
                                                    </select>
                                                    <div class="col c1">
                                                        <input type="text" id="example2" value="100" max="1000" min="0">
                                                        <!-- step="1" -->
                                                    </div>
                                                    <h4 class="great">
                                                        คาร์โบไฮเดรต
                                                    </h4>
                                                    <select class="text-white" name="c" id="C">
                                                        {% for row in c %}
                                                        <option value="{{ row.id_nutrients }}">{{ row.name_nutrients }}
                                                        </option>
                                                        {% endfor %}
                                                    </select>
                                                    <select class="text-white-2 ">
                                                        <option>กรัม
                                                        </option>
                                                        <option>กิโลกรัม
                                                        </option>
                                                        <option>ขีด
                                                        </option>
                                                        <option>ถ้วยตวง
                                                        </option>
                                                        <option>ช้อนโต๊ะ
                                                        </option>
                                                    </select>
                                                    <div class="col c1">
                                                        <input type="text" id="example2-2" value="100" max="1000"
                                                            min="0">
                                                    </div>
                                                    <h4 class="great">
                                                        ไขมัน
                                                    </h4>
                                                    <select class="text-white" name="f" id="F">
                                                        {% for row in f %}
                                                        <option value="{{ row.id_nutrients }}">{{ row.name_nutrients }}
                                                        </option>
                                                        {% endfor %}
                                                    </select>
                                                    <select class="text-white-2 ">
                                                        <option>กรัม
                                                        </option>
                                                        <option>กิโลกรัม
                                                        </option>
                                                        <option>ขีด
                                                        </option>
                                                        <option>ถ้วยตวง
                                                        </option>
                                                        <option>ช้อนโต๊ะ
                                                        </option>
                                                    </select>
                                                    <div class="col c1">
                                                        <input type="text" id="example2-3" value="100" max="1000"
                                                            min="0">
                                                    </div>
                                                </div>
                                            </main>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </form>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static',filename='js/range.js') }}"></script>
    <!-- <script type="text/javascript" src="./js/tail.select.js"></script> -->
    <script>
        rangejs(document.getElementById('example2'), { buttons: true, css: true });
        rangejs(document.getElementById('example2-2'), { buttons: true, css: true });
        rangejs(document.getElementById('example2-3'), { buttons: true, css: true });
    </script>
    
    <script>
        var datas;
        $(document).ready(function () {
            $("#example2").change(function () {
                $.ajax({
                    url: "/process",
                    type: "POST",
                    data: {
                        a: $('#foodname').val(),
                        pro: $("#P").val(),
                        car: $("#C").val(),
                        fat: $("#F").val(),
                        volumep: $("#example2").val(),
                        volumec: $("#example2-2").val(),
                        volumef: $("#example2-3").val()
                    },
                    success: function (data) {
                        datas = data;
                        //console.log(datas);
                        //myChart.data.datasets[0].data[0] = datas.pro;
                        chartrun(datas.pro, datas.car, datas.fat);
                        //console.log(datas.En)
                        $("#en").text(datas.En);
                        //chartrun.reset();
                    }
                });
            });
            $("#example2-2").change(function () {
                $.ajax({
                    url: "/process",
                    type: "POST",
                    data: {
                        a: $('#foodname').val(),
                        pro: $("#P").val(),
                        car: $("#C").val(),
                        fat: $("#F").val(),
                        volumep: $("#example2").val(),
                        volumec: $("#example2-2").val(),
                        volumef: $("#example2-3").val()
                    },
                    success: function (data) {
                        datas = data;
                        //console.log(datas);
                        //myChart.data.datasets[0].data[0] = datas.pro;
                        chartrun(datas.pro, datas.car, datas.fat);
                        //console.log(datas.En)
                        $("#en").text(datas.En);
                        //chartrun.reset();
                    }
                });
            });
            $("#example2-3").change(function () {
                $.ajax({
                    url: "/process",
                    type: "POST",
                    data: {
                        a: $('#foodname').val(),
                        pro: $("#P").val(),
                        car: $("#C").val(),
                        fat: $("#F").val(),
                        volumep: $("#example2").val(),
                        volumec: $("#example2-2").val(),
                        volumef: $("#example2-3").val()
                    },
                    success: function (data) {
                        datas = data;
                        //console.log(datas);
                        //myChart.data.datasets[0].data[0] = datas.pro;
                        chartrun(datas.pro, datas.car, datas.fat);
                        //console.log(datas.En)
                        $("#en").text(datas.En);
                        //chartrun.reset();
                    }
                });
            });
        });
    </script>
    <script src="{{ url_for('static',filename='js/script1.js') }}"></script>
    <script src="{{ url_for('static',filename='js/addfood.js') }}"></script>
</body>

</html>