{% extends "layout.html" %}

{% block title %}

{% endblock %}

{% block head %}
<!-- jQuery library -->
<script src="{{ url_for('static',filename='plugins/jQuery/jquery.min.js') }}"></script>

<!-- MultiSelect CSS & JS library -->
<link href="{{ url_for('static',filename='css/jquery.multiselect.css') }}" rel="stylesheet" />
<script src="{{ url_for('static',filename='js/jquery.multiselect.js') }}"></script>

{% endblock %}

{% block body %}

{% endblock%}

{% block content %}
<section>
  <div class="container">
    <form>
      เช้า
      <select name="langOpt[]" multiple id="langOpt1">
          {% for row in foods %}
          <option value="{{row.0}}">{{row.1}}</option>
          {% endfor %}
      </select>
      เที่ยง
      <select name="langOpt[]" multiple id="langOpt2">
          {% for row in foods %}
          <option value="{{row.0}}">{{row.1}}</option>
          {% endfor %}
      </select>
      เย็น

      <select name="langOpt[]" multiple id="langOpt3">
          {% for row in foods %}
          <option value="{{row.0}}">{{row.1}}</option>
          {% endfor %}
      </select><br><br>
      <input type="submit" value="Submit">
    </form>
    </blockquote>
  </div>
</section>

{% block script %}

<script src="{{ url_for('static',filename='js/multiselect.js') }}"></script>
<script>
  $('#langOpt').multiselect({
    columns: 1,
    placeholder: 'Select Food'
  });
</script>

<script>
  $('select[multiple]').multiselect();
  $('#langOpt2').multiselect({
    columns: 1,
    placeholder: 'Select Food'
  });
</script>

<script>
  $('select[multiple]').multiselect();
  $('#langOpt3').multiselect({
    columns: 1,
    placeholder: 'Select Food'
  });
</script>

{% endblock %}

{% endblock%}