{% extends "layout.html" %}
{% block title %}
HomePage
{% endblock %}
{% block content %}
<!-- hero area -->
<section class="hero-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 align-self-end">
        <h1 class="mb-0">Welcome</h1>
        <h2 class="mb-100 title-border-lg">to <i> NCE</i></h2>
        <p class="mb-80 mr-5"> .</p>
        <span class="font-secondary text-dark mr-3 mr-sm-5">Follow</span>
        <ul class="list-inline d-inline-block mb-5">
          <li class="list-inline-item mx-3"><a href="www.facebook.com" class="text-dark"><i class="ti-facebook"></i></a></li>
          <li class="list-inline-item mx-3"><a href="www.twitter.com" class="text-dark"><i class="ti-twitter-alt"></i></a></li>
          <li class="list-inline-item mx-3"><a href="www.linkedin.com" class="text-dark"><i class="ti-linkedin"></i></a></li>
          <li class="list-inline-item mx-3"><a href="www.github.com" class="text-dark"><i class="ti-github"></i></a></li>
        </ul>
      </div>
      <div class="col-lg-6 text-right">
        <img class="img-fluid" src="{{ url_for('static',filename='images/banner-img.png') }}" alt="banner-image">
      </div>
    </div>
  </div>
</section>
<!-- /hero area -->
<!-- featured post -->
<!-- แนะนำอาหารถามการคำนวญ -->
<section>
  <div class="container-fluid p-sm-0">
    <div class="row featured-post-slider">
      <div class="col-lg-3 col-sm-6 mb-2 mb-lg-0 px-1">
        <article class="card bg-dark text-center text-white border-0 rounded-0">
          <img class="card-img rounded-0 img-fluid w-100"
            src="{{ url_for('static',filename='images/featured-post/post-1.jpg') }}" alt="post-thumb">
          <div class="card-img-overlay">
            <div class="card-content">
              <p class="text-uppercase">LifeStyle</p>
              <h4 class="card-title mb-4"><a class="text-white" href="">Organize Your Life With 10
                  Simple rule</a></h4>
              <a class="btn btn-outline-light" href="">read more</a>
            </div>
          </div>
        </article>
      </div>
      <div class="col-lg-3 col-sm-6 mb-2 mb-lg-0 px-1">
        <article class="card bg-dark text-center text-white border-0 rounded-0">
          <img class="card-img rounded-0 img-fluid w-100"
            src="{{ url_for('static',filename='images/featured-post/post-2.jpg') }}" alt="post-thumb">
          <div class="card-img-overlay">
            <div class="card-content">
              <p class="text-uppercase">LifeStyle</p>
              <h4 class="card-title mb-4"><a class="text-white" href="">Organize Your Life With 10
                  Simple rule</a></h4>
              <a class="btn btn-outline-light" href="">read more</a>
            </div>
          </div>
        </article>
      </div>
      <div class="col-lg-3 col-sm-6 mb-2 mb-lg-0 px-1">
        <article class="card bg-dark text-center text-white border-0 rounded-0">
          <img class="card-img rounded-0 img-fluid w-100"
            src="{{ url_for('static',filename='images/featured-post/post-3.jpg') }}" alt="post-thumb">
          <div class="card-img-overlay">
            <div class="card-content">
              <p class="text-uppercase">LifeStyle</p>
              <h4 class="card-title mb-4"><a class="text-white" href="">Organize Your Life With 10
                  Simple rule</a></h4>
              <a class="btn btn-outline-light" href="">read more</a>
            </div>
          </div>
        </article>
      </div>
      <div class="col-lg-3 col-sm-6 mb-2 mb-lg-0 px-1">
        <article class="card bg-dark text-center text-white border-0 rounded-0">
          <img class="card-img rounded-0 img-fluid w-100"
            src="{{ url_for('static',filename='images/featured-post/post-4.jpg') }}" alt="post-thumb">
          <div class="card-img-overlay">
            <div class="card-content">
              <p class="text-uppercase">LifeStyle</p>
              <h4 class="card-title mb-4"><a class="text-white" href="">Organize Your Life With 10
                  Simple rule</a></h4>
              <a class="btn btn-outline-light" href="">read more</a>
            </div>
          </div>
        </article>
      </div>
      <div class="col-lg-3 col-sm-6 mb-2 mb-lg-0 px-1">
        <article class="card bg-dark text-center text-white border-0 rounded-0">
          <img class="card-img rounded-0 img-fluid w-100"
            src="{{ url_for('static',filename='images/featured-post/post-5.jpg') }}" alt="post-thumb">
          <div class="card-img-overlay">
            <div class="card-content">
              <p class="text-uppercase">LifeStyle</p>
              <h4 class="card-title mb-4"><a class="text-white" href="">Organize Your Life With 10
                  Simple rule</a></h4>
              <a class="btn btn-outline-light" href="">read more</a>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
<!-- /featured post -->

<!-- blog post -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-100">
        <article data-file="" data-target="article" class="article-full-width">
          <div class="post-image">
            <img class="img-fluid" src="{{ url_for('static',filename='images/masonary-post/post-2.jpg') }}"
              alt="post-thumb">
          </div>
          <div class="post-content">
            <ul class="list-inline d-flex justify-content-between border-bottom post-meta pb-2 mb-4">
              <li class="list-inline-item"><i class="ti-calendar mr-2"></i>June 2, 2018</li>
              <li class="list-inline-item"><i class="ti-alarm-clock mr-2"></i><span class="eta">8 min</span> read</li>
            </ul>
            <h4 class="mb-4"><a href="" class="text-dark">Lorem ipsum dolor sit amet, consectetur
                adipisicing
                elit</a></h4>
            <p class="mb-0 post-summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
              incididunt
              ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
              ea commodo consequat.</p>
            <a class="btn btn-transparent mb-4" href="">Continue...</a>
            <div class="author">
              <span class="d-block">Post by</span>
              <p>Jhon Abraham</p>
            </div>
          </div>
        </article>
      </div>
      <div class="col-12 mb-100">
        <article data-file="" data-target="article" class="article-full-width article-right">
          <div class="post-image">
            <img class="img-fluid" src="{{ url_for('static',filename='images/masonary-post/post-3.jpg') }}"
              alt="post-thumb">
          </div>
          <div class="post-content">
            <ul class="list-inline d-flex justify-content-between border-bottom post-meta pb-2 mb-4">
              <li class="list-inline-item"><i class="ti-calendar mr-2"></i>June 2, 2018</li>
              <li class="list-inline-item"><i class="ti-alarm-clock mr-2"></i><span class="eta">8 min</span> read</li>
            </ul>
            <h4 class="mb-4"><a href="" class="text-dark">Lorem ipsum dolor sit amet, consectetur
                adipisicing
                elit</a></h4>
            <p class="mb-0 post-summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
              incididunt
              ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
              ea commodo consequat.</p>
            <a class="btn btn-transparent mb-4" href="">Continue...</a>
            <div class="author">
              <span class="d-block">Post by</span>
              <p>Jhon Abraham</p>
            </div>
          </div>
        </article>
      </div>
      <div class="col-12 mb-100">
        <article data-file="" data-target="article" class="article-full-width">
          <div class="post-image">
            <img class="img-fluid" src="{{ url_for('static',filename='images/masonary-post/post-4.png') }}"
              alt="post-thumb">
          </div>
          <div class="post-content">
            <ul class="list-inline d-flex justify-content-between border-bottom post-meta pb-2 mb-4">
              <li class="list-inline-item"><i class="ti-calendar mr-2"></i>June 2, 2018</li>
              <li class="list-inline-item"><i class="ti-alarm-clock mr-2"></i><span class="eta">8 min</span> read</li>
            </ul>
            <h4 class="mb-4"><a href="" class="text-dark">Lorem ipsum dolor sit amet, consectetur
                adipisicing
                elit</a></h4>
            <p class="mb-0 post-summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
              incididunt
              ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
              ea commodo consequat.</p>
            <a class="btn btn-transparent mb-4" href="">Continue...</a>
            <div class="author">
              <span class="d-block">Post by</span>
              <p>Jhon Abraham</p>
            </div>
          </div>
        </article>
      </div>
      <div class="col-12 mb-100">
        <article data-file="" data-target="article" class="article-full-width article-right">
          <div class="post-image">
            <img class="img-fluid" src="{{ url_for('static',filename='images/masonary-post/post-5.jpg') }}"
              alt="post-thumb">
          </div>
          <div class="post-content">
            <ul class="list-inline d-flex justify-content-between border-bottom post-meta pb-2 mb-4">
              <li class="list-inline-item"><i class="ti-calendar mr-2"></i>June 2, 2018</li>
              <li class="list-inline-item"><i class="ti-alarm-clock mr-2"></i><span class="eta">8 min</span> read</li>
            </ul>
            <h4 class="mb-4"><a href="" class="text-dark">Lorem ipsum dolor sit amet, consectetur
                adipisicing
                elit</a></h4>
            <p class="mb-0 post-summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
              incididunt
              ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
              ea commodo consequat.</p>
            <a class="btn btn-transparent mb-4" href="">Continue...</a>
            <div class="author">
              <span class="d-block">Post by</span>
              <p>Jhon Abraham</p>
            </div>
          </div>
        </article>
      </div>
      <div class="col-12 mb-100">
        <article data-file="" data-target="article" class="article-full-width">
          <div class="post-image">
            <img class="img-fluid" src="{{ url_for('static',filename='images/masonary-post/post-6.jpg') }}"
              alt="post-thumb">
          </div>
          <div class="post-content">
            <ul class="list-inline d-flex justify-content-between border-bottom post-meta pb-2 mb-4">
              <li class="list-inline-item"><i class="ti-calendar mr-2"></i>June 2, 2018</li>
              <li class="list-inline-item"><i class="ti-alarm-clock mr-2"></i><span class="eta">8 min</span> read</li>
            </ul>
            <h4 class="mb-4"><a href="" class="text-dark">Lorem ipsum dolor sit amet, consectetur
                adipisicing
                elit</a></h4>
            <p class="mb-0 post-summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
              incididunt
              ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
              ea commodo consequat.</p>
            <a class="btn btn-transparent mb-4" href="">Continue...</a>
            <div class="author">
              <span class="d-block">Post by</span>
              <p>Jhon Abraham</p>
            </div>
          </div>
        </article>
      </div>
      <div class="col-12 mb-100">
        <article data-file="" data-target="article" class="article-full-width article-right">
          <div class="post-image">
            <img class="img-fluid" src="{{ url_for('static',filename='images/masonary-post/post-1.jpg') }}"
              alt="post-thumb">
          </div>
          <div class="post-content">
            <ul class="list-inline d-flex justify-content-between border-bottom post-meta pb-2 mb-4">
              <li class="list-inline-item"><i class="ti-calendar mr-2"></i>June 2, 2018</li>
              <li class="list-inline-item"><i class="ti-alarm-clock mr-2"></i><span class="eta">8 min</span> read</li>
            </ul>
            <h4 class="mb-4"><a href="" class="text-dark">Lorem ipsum dolor sit amet, consectetur
                adipisicing
                elit</a></h4>
            <p class="mb-0 post-summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
              incididunt
              ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
              ea commodo consequat.</p>
            <a class="btn btn-transparent mb-4" href="">Continue...</a>
            <div class="author">
              <span class="d-block">Post by</span>
              <p>Jhon Abraham</p>
            </div>
          </div>
        </article>
      </div>
    </div>

  </div>
</section>
{% endblock %}