<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>

    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- ** Plugins Needed for the Project ** -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ url_for('static',filename='plugins/bootstrap/bootstrap.min.css') }}">
    <!-- slick slider -->
    <link rel="stylesheet" href="{{ url_for('static',filename='plugins/slick/slick.css') }}">
    <!-- themefy-icon -->
    <link rel="stylesheet" href="{{ url_for('static',filename='plugins/themify-icons/themify-icons.css') }}">


    <!-- Main Stylesheet -->
    <link href="{{ url_for('static',filename='css/Slider.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet">

    <!--Favicon-->
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static',filename='images/parsley.png') }}">
    {% block head %}

    {% endblock %}
</head>

<body>
    <!-- preloader -->
    <div class="preloader">
        <div class="loader">
            <span class="dot"></span>
            <div class="dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- /preloader -->
    <!-- dividers -->
    <header class="navigation">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="{{ url_for('homepage') }}">
                <img class="img-fluid" src="{{ url_for('static',filename='images/nce.png') }}" alt="parsa"></a>
            <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navogation"
                aria-controls="navogation" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-center" id="navogation">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link text-uppercase text-dark" href="{{ url_for('homepage') }}">หน้าหลัก</a>
                    </li>
                    <li class="nav-item dropdown">

                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase text-dark" href="Profile.html">โปรไฟล์</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase text-dark" href="{{ url_for('cal') }}">คำนวณ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase text-dark" href="{{ url_for('his') }}">จัดตาราง</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase text-dark" href="{{ url_for('calendar') }}">ประวัติ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase text-dark" href="{{ url_for('homepage') }}">ออกจากระบบ</a>
                    </li>
                </ul>
                <form class="form-inline position-relative ml-lg-4">
                    <input class="form-control px-0 w-100" type="search" placeholder="Search">
                    <button class="search-icon" type="submit"><i class="ti-search text-dark"></i></button>
                </form>
            </div>
        </nav>
    </header>
    {% block content %}

    {% endblock %}
    {% block body %}

    {% endblock %}
    <!-- jQuery -->
    <script src="{{ url_for('static',filename='plugins/jQuery/jquery.min.js') }}"></script>
    <!--<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>-->
    <!-- Bootstrap JS -->
    <script src="{{ url_for('static',filename='plugins/bootstrap/bootstrap.min.js') }}"></script>
    <!-- slick slider -->
    <script src="{{ url_for('static',filename='plugins/slick/slick.min.js') }}"></script>
    <!-- masonry -->
    <script src="{{ url_for('static',filename='plugins/masonry/masonry.js') }}"></script>
    <!-- instafeed -->
    <script src="{{ url_for('static',filename='plugins/instafeed/instafeed.min.js') }}"></script>
    <!-- smooth scroll -->
    <script src="{{ url_for('static',filename='plugins/smooth-scroll/smooth-scroll.js') }}"></script>
    <!-- headroom -->
    <script src="{{ url_for('static',filename='plugins/headroom/headroom.js') }}"></script>
    <!-- reading time -->
    <script src="{{ url_for('static',filename='plugins/reading-time/readingTime.min.js') }}"></script>

    <!-- Main Script -->
    <script src="{{ url_for('static',filename='js/ev.js') }}"></script>
    <script src="{{ url_for('static',filename='js/script.js') }}"></script>
    {% block script %}

    {% endblock %}
</body>

</html>