{% extends "layout.html" %}
{% block content %}
<h1 class="text-center">
    <!--------------------หัวข้อ----------->
</h1>
<div class="container">
    <div class="row">


        <!--team-1-->
        <div class="col-lg-4">
            <div class="our-team-main">

                <div class="team-front">
                    <img src="{{ url_for('static',filename='yupp/fruit.png') }}" class="img-fluid" />
                    <h3>เช้า</h3>
                    <p>07.00 - 09.00 น.</p>
                </div>

                <div class="team-back">
                    <span>
                        <!--------------------จุดเชื่อมข้อมูลเข้าหรือใส่ข้อมูล----------->
                        <!--------------------จุดเชื่อมข้อมูลเข้าหรือใส่ข้อมูล----------->
                        <!--------------------จุดเชื่อมข้อมูลเข้าหรือใส่ข้อมูล----------->
                        <!--------------------จุดเชื่อมข้อมูลเข้าหรือใส่ข้อมูล----------->
                    </span>
                </div>

            </div>
        </div>
        <!--team-1-->

        <!--team-2-->
        <div class="col-lg-4">
            <div class="our-team-main">

                <div class="team-front">
                    <img src="{{ url_for('static',filename='yupp/sandwich.png') }}" class="img-fluid" />
                    <h3>ก่อนเที่ยง</h3>
                    <p>9.00 - 11.00 น </p>
                </div>

                <div class="team-back">
                    <span>
                        <!--------------------จุดเชื่อมข้อมูลเข้าหรือใส่ข้อมูล----------->
                        <!--------------------จุดเชื่อมข้อมูลเข้าหรือใส่ข้อมูล----------->
                        <!--------------------จุดเชื่อมข้อมูลเข้าหรือใส่ข้อมูล----------->
                        <!--------------------จุดเชื่อมข้อมูลเข้าหรือใส่ข้อมูล----------->
                    </span>
                </div>

            </div>
        </div>
        <!--team-2-->

        <!--team-3-->
        <div class="col-lg-4">
            <div class="our-team-main">

                <div class="team-front">
                    <img src="{{ url_for('static',filename='yupp/lunch.png') }}" class="img-fluid" />
                    <h3>เที่ยง</h3>
                    <p>12.00 - 13.00 น</p>
                </div>

                <div class="team-back">
                    <span>
                        <!--------------------จุดเชื่อมข้อมูลเข้าหรือใส่ข้อมูล----------->
                        <!--------------------จุดเชื่อมข้อมูลเข้าหรือใส่ข้อมูล----------->
                        <!--------------------จุดเชื่อมข้อมูลเข้าหรือใส่ข้อมูล----------->
                        <!--------------------จุดเชื่อมข้อมูลเข้าหรือใส่ข้อมูล----------->
                    </span>
                </div>

            </div>
        </div>
        <!--team-3-->

        <!--team-4-->
        <div class="col-lg-4">
            <div class="our-team-main">

                <div class="team-front">
                    <img src="{{ url_for('static',filename='yupp/guacamole.png') }}" class="img-fluid" />
                    <h3>มื้อบ่าย</h3>
                    <p>14.00 - 15.00 น</p>
                </div>

                <div class="team-back">
                    <span>
                        <!--------------------จุดเชื่อมข้อมูลเข้าหรือใส่ข้อมูล----------->
                        <!--------------------จุดเชื่อมข้อมูลเข้าหรือใส่ข้อมูล----------->
                        <!--------------------จุดเชื่อมข้อมูลเข้าหรือใส่ข้อมูล----------->
                        <!--------------------จุดเชื่อมข้อมูลเข้าหรือใส่ข้อมูล----------->
                    </span>
                </div>

            </div>
        </div>
        <!--team-4-->

        <!--team-5-->
        <div class="col-lg-4">
            <div class="our-team-main">

                <div class="team-front">
                    <img src="{{ url_for('static',filename='yupp/dinner.png') }}" class="img-fluid" />
                    <h3>มื้อเย็น</h3>
                    <p>18.00 - 20.00 น</p>
                </div>

                <div class="team-back">
                    <span>
                        <!--------------------จุดเชื่อมข้อมูลเข้าหรือใส่ข้อมูล----------->
                        <!--------------------จุดเชื่อมข้อมูลเข้าหรือใส่ข้อมูล----------->
                        <!--------------------จุดเชื่อมข้อมูลเข้าหรือใส่ข้อมูล----------->
                        <!--------------------จุดเชื่อมข้อมูลเข้าหรือใส่ข้อมูล----------->
                    </span>
                </div>
            </div>
        </div>
        <!--team-5-->

        <!--team-6-->
        <div class="col-lg-4">
            <div class="our-team-main">

                <div class="team-front">
                    <img src="{{ url_for('static',filename='yupp/fruit.png') }}" class="img-fluid" />
                    <h3>มื้อดึก </h3>
                    <p>22.00 - 00.00 น</p>
                </div>

                <div class="team-back">
                    <span>
                        <!--------------------จุดเชื่อมข้อมูลเข้าหรือใส่ข้อมูล----------->
                        <!--------------------จุดเชื่อมข้อมูลเข้าหรือใส่ข้อมูล----------->
                        <!--------------------จุดเชื่อมข้อมูลเข้าหรือใส่ข้อมูล----------->
                        <!--------------------จุดเชื่อมข้อมูลเข้าหรือใส่ข้อมูล----------->
                    </span>

                </div>

            </div>
        </div>
        <!--team-6-->
        <a href="f1.1.1.html" class="btn btn-primary mx-auto"> เพิ่ม

{% endblock %}