<!DOCTYPE html>
<html lang="th">

<head>
  <meta charset="utf-8">
  <title>NCE</title>
  <link href="./css/st.css" rel="stylesheet">
  <link href="./css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- ** Plugins Needed for the Project ** -->
  <!-- Bootstrap -->
 
  <!-- slick slider -->
 
  <!-- themefy-icon -->
  <link rel="stylesheet" href="plugins/themify-icons/themify-icons.css">

  <!-- Main Stylesheet -->
  <link href="css/style.css" rel="stylesheet">

  <!--Favicon-->
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="icon" type="image/png" sizes="16x16" href="images/parsley.png">
</head>

<body>
  <!-- preloader -->
  <div class="preloader">
    <div class="loader">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- /preloader -->

<!-- dividers -->


<header class="navigation">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="homepage-2.html"><img class="img-fluid" src="images/NCE1.png" alt="parsa"></a>
    <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navogation"
      aria-controls="navogation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-center" id="navogation">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
              <a class="nav-link text-uppercase text-dark" href="homepage-2.html">หน้าหลัก</a>
            </li>
        <li class="nav-item dropdown">
        
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase text-dark" href="Profile.html">โปรไฟล์</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-uppercase text-dark" href="Calculatecalories.html">คำนวณ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase text-dark" href="้his.html">จัดตาราง</a>
        </li>
        <li class="nav-item">
            
            <a class="nav-link text-uppercase text-dark" href="app-clebder.html">ประวัติ</a>
          </li>
          <li class="nav-item">
            
              <a class="nav-link text-uppercase text-dark" href="homepage-2.html">ออกจากระบบ</a>
            </li>
      </ul>
      <form class="form-inline position-relative ml-lg-4">
        <input class="form-control px-0 w-100" type="search" placeholder="Search">
        <button class="search-icon" type="submit"><i class="ti-search text-dark"></i></button>
      </form>
    </div>
  </nav>
</header>




<section class="pricing py-5">
  <div class="container">
    <div class="row">
      <!-- Free Tier -->
      <div class="col-lg-6">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
                  <main class="main boxed">      
                          <div class="flex">
                                             <h4 class="great">โปรตีน</h4>
                                             <select class="text-white ">
                                                     <option>ไก่</option>
                                                     <option>หมู</option>
                                                     <option>ปลา</option>
                                                     <option>เนื้อ</option>
                                                     <option>กุ้ง</option>
                                             </select>
                                             <div class="col c1">
                                              <input type="text" id="example2" value="20" max="100" min="0"  /><!-- step="1" -->
                                             </div>
                                           
                                             <h4 class="great">คาร์โบไฮเดรต</h4>
                                             <select class="text-white ">
                                                     <option>ข้าวสวย</option>
                                                     <option>เส้นเล็ก</option>
                                                     <option>เส้นพาสต้า</option>
                                                     <option>ข้าวกล่อง</option>
                                                     <option>วุ้นเส้น</option>
                                             </select>

                                             <div class="col c1">
                                             <input type="text" id="example2-2" value="20" max="100" min="0"  />
                                             </div>
                                            
                                             <h4 class="great">ไขมัน</h4>
                                             <select class="text-white ">
                                                     <option>น้ำมันถั่วเหลือง</option>
                                                     <option>เนย</option>
                                                     <option>น้ำมันปาล์ม</option>
                                                     <option>น้ำมันดอกทานตะวัน</option>
                                                     
                                             </select>
                                             <div class="col c1">
                                             <input type="text" id="example2-3" value="20" max="100" min="0"  />
                                             </div>
                                         </div> 
                                      </main>
           
          </div>
        </div>
      </div>
      <!-- Plus Tier -->
      <div class="col-lg-6">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
                  <h3 class="card-title text-center">เลือกเมนู 
                          <select class="text-white-1 ">
                                  <option>กระเพรา</option>
                                  <option>ข้าวผัด</option>
                                 
                          </select>
                  </h3>   
                  <h5 class="card-title text-center">พลังงานที่ได้รับ</h5>
                  <div class="chart-wrapper" class="col-mx-auto">
                  <canvas id="myChart"></canvas>
                  </div>
                  <hr>
                  <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
                  <button type="button" class="btn btn-info">คำนวณ</button> 
                  <button type="button" class="btn btn-success">บันทึก</button>
                  <button type="button" class="btn btn-danger">จัดอาหาร🍱</button>
                  
          </div>
          </div>
        </div>
      </div>
          </div>
        </div>
      </div>

      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <script src="js/range.js"></script>
      <script src="js/script-1.js"></script>
      <!-- <script type="text/javascript" src="./js/tail.select.js"></script> -->
      <script>
          rangejs( document.getElementById( 'example2' ), {buttons:true,css:true} );
          rangejs( document.getElementById( 'example2-2' ), {buttons:true,css:true} );
          rangejs( document.getElementById( 'example2-3' ), {buttons:true,css:true} );
      </script>
       <script type="text/javascript">
          document.addEventListener("DOMContentLoaded", function(){
              tail.select("select", { /* Your Options */ });
          });
      </script>
<!-- jQuery -->
<script src="plugins/jQuery/jquery.min.js"></script>
<!-- Bootstrap JS -->
<script src="plugins/bootstrap/bootstrap.min.js"></script>
<!-- slick slider -->
<script src="plugins/slick/slick.min.js"></script>
<!-- masonry -->
<script src="plugins/masonry/masonry.js"></script>
<!-- instafeed -->
<script src="plugins/instafeed/instafeed.min.js"></script>
<!-- smooth scroll -->
<script src="plugins/smooth-scroll/smooth-scroll.js"></script>
<!-- headroom -->
<script src="plugins/headroom/headroom.js"></script>
<!-- reading time -->
<script src="plugins/reading-time/readingTime.min.js"></script>

<!-- Main Script -->
<script src="js/script.js"></script>

</body>
</html>